/**
 * Created by Ivan Oliveira on 11/12/2015.
 */

/* Start of "Micro clearfix" */

.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }

/* End of "Micro clearfix" */

body {
    background: #999;
    font-family: 'Titillium Web', Arial, sans-serif;
}

#ivan {
    width: 1024px;
    margin: 20px auto;
    background: #fff;
}

#title{
    box-sizing: border-box;
    float: left;
    clear: right;
    width: 716px;
    height: 100px;
}

#title h1 {
    padding: 0 20px;
}

#cart {
    box-sizing: border-box;
    float: left;
    clear: right;
    width: 307px;
    height: 100px;
    padding: 20px 10px;
    border-left: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

#cart-image,
#cart-items,
#cart-view {
    float: left;
    clear: right;
    height: 60px;
}

#cart-image {
    width: 80px;
    line-height: 60px;
    text-align: center;
}

#cart-image img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

#cart-items {
    line-height: 30px;
    width: 94px;
    margin-left: 20px;
    font-weight: bold;
}

#cart-view {
    line-height: 60px;
    vertical-align: middle;
}

#items {
    box-sizing: border-box;
    padding: 10px 20px;
}

.item {
    height: 80px;
    width: 100%;
    padding: 10px 10px;
    border-bottom: 1px solid #CCC;
}

.image,
.title-and-price,
.description-and-add {
    float: left;
    clear: right;
}

.image {
    width: 84px;
    height: 80px;
    line-height: 80px;
    text-align: center;
} 

.image img {
    height: 64px;
    width: 64px;
    vertical-align: middle;
}

.title-and-price,
.description-and-add {
    height: 40px;
    width: 866px;
    line-height: 40px;
    margin-left: 20px;
}

.title,
.description,
.price,
.add {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.title,
.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 756px;
    font-size: 1.2em;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}

.description {
    font-size: 1em;
}

.price,
.add {
    width: 105px;
    text-align: right;
}

.price {
    font-weight: bold;
}

.add .button,
#cart-view a {
    background: #06C;
    color: #FFF;
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
}

.add .button:hover,
#cart-view a:hover {
    background: #16F;
}


#mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: black;
}

.cart-window {
    position: fixed;
    display: none;
    z-index: 9999;
    padding: 0 20px 20px;
}

#item-cart {
    width: 600px;
    background: #FFF;
}

#item-cart .button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 10px;
    background: #16F;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

#item-cart .button:hover {
    background: #FF4500;
}

#item-cart .item {
    height: 60px;
    width: 580px;
    border-bottom: 1px dotted #CCC;
    box-sizing: border-box;
    padding:0 10px;
}

#item-cart .item .image {
    height: 60px;
    line-height: 60px;
    width: 40px;
    float: left;
    clear: right;
}

#item-cart .item .image img {
    height: 40px;
    width: 40px;
}

#item-cart .item .title-and-quantity {
    height: 60px;
    width: 420px;
    margin-left: 10px;
    float: left;
    clear: right;
}

#item-cart .item .title,
#item-cart .item .quantity {
    height: 30px;
    line-height: 30px;
    width: 100%;
}

#item-cart .item .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

#item-cart .item .subtotal {
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    font-weight: bold;
    float: left;
    clear: right;

}

#total-price {
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    width: 580px;
    font-weight: bold;
    font-size: 1.2em;
}

#total-price .label {
    display: inline-block;
    width: 400px;
    float: left;
    clear: right;
}

#total-price .value {
    display: inline-block;
    width: 160px;
    float: left;
    text-align: right;
}


#IvanOliveira {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #CCC;
}

#IvanOliveira a {
    text-decoration: none;
    font-weight: bold;
    background: #CCC;
    color: #FFF;
    padding: 0 2px;

    -webkit-transition: background 500ms linear;
    -moz-transition: background 500ms linear;
    -o-transition: background 500ms linear;
    -ms-transition: background 500ms linear;
    transition: background 500ms linear;
}

#IvanOliveira a:hover {
    background: #444;

    -webkit-transition: background 500ms linear;
    -moz-transition: background 500ms linear;
    -o-transition: background 500ms linear;
    -ms-transition: background 500ms linear;
    transition: background 500ms linear;

}